{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h5 class="modal-title">Modal title</h5> -->
                    <h2 class="fw-bold mb-0">Sign in</h2>
                </div>

                <div class="modal-body p-5 pt-0">



                    <form class="" method="post" data-dashlane-rid="6e93d911de2dd10b" data-form-type="register">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="form-floating mb-3">
                            <input type="email"
                                   class="form-control rounded-3"
                                   id="inputEmail"
                                   placeholder="name@example.com"
                                   value="{{ last_username }}"
                                   name="email"
                                   autocomplete="email"
                                   required autofocus>

                            <label for="inputEmail">Email</label>
                        <div class="form-floating mb-3">
                            <input type="password"
                                   class="form-control rounded-3 my-3"
                                   id="inputPassword"
                                   placeholder="name@example.com"
                                   name="password"
                                   autocomplete="current-password"
                                   required>
                            <label for="inputPassword">Password</label>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="w-100 py-2 mb-2 btn btn-primary rounded-3" type="submit">
                                Sign in
                            </button>


                            <hr class="my-4">
                            <h2 class="fs-5 fw-bold mb-3">Or registrer</h2>
                        <div class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3">
                            Registrer
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
