{% block footer %}
    <footer class="bg-secondary text-center text-lg-start shadow mt-5">
        <div class="text-center p-3 text-white bg-secondary">
            © Copyright: Apside Hackathon 2022 by <a class="text-white" target="_blank" href="https://github.com/antoinedumez">Antoine</a>, <a class="text-white" target="_blank" href="https://github.com/Let-Nathan">Nathan</a> and <a class="text-white" target="_blank" href="https://github.com/gpetraroli">Giuseppe</a>
            <a class="text-dark" href="#"></a>
        </div>
    </footer>
{% endblock %}
