{% block navbar %}
    <nav class="navbar navbar-light border-bottom bg-primary px-5 shadow">
        <img src="{{ asset('assets/images/logo/logo_white.png') }}" class="img-fluid" style="max-height: 3rem">
        <a class="navbar-brand" href="#"></a>
    </nav>
{% endblock %}
