{% block navbar %}
    <nav class="navbar navbar-light border-bottom shadow-lg">
        <img src="/assets/images/logo/logo_detouré.png" class="img-fluid" style="width:8rem; height: 3rem;">
{#        <input type="text" class="form-control shadow shadow-lg shadow-intensity-lg mb-2" aria-label="Default" aria-describedby="inputGroup-sizing-default" style="width:35rem;">#}
        <a class="navbar-brand" href="#"></a>
    </nav>
{% endblock %}