{% block navbar %}
    <nav class="navbar navbar-light border-bottom bg-primary px-5 shadow">
        <img src="/assets/images/logo/logo_detouré.png" class="img-fluid" style="width:8rem; height: 3rem;">
        <a class="navbar-brand" href="#"></a>
    </nav>
{% endblock %}
